.user__server__card {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-left: 10px;
  margin-bottom: 7px;
  background-color: #36393f;
  border-radius: 50px;
  transition: .4s;
}

/* $dk */

.server__card__link {
  text-decoration: none;
  cursor: pointer;
  color: #dcddde;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.user__server__card:hover {
  border-radius: 12px;
  background-color: #7C3AED;
}
