.server__title__card {
  width: 240px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f3136;
  border-bottom: 2px #27292c solid;
}
.server__title__card__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 208px;
  height: 24px;
}
.server__options__container {
  display: flex;
}
.server__title {
  width: auto;
  max-width: 160px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.server__edit {
  background: url("./settings__kog.svg");
  width: 18px;
  height: 18px;
  color: #ffffff;
  cursor: pointer;
}

.server__invite {
  background: url("./server__invite.svg") no-repeat center;
  width: 20px;
  height: 20px;
  color: #ffffff;
  cursor: pointer;
  margin-right: 10px;
}
