body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.banner__container {
  width: 100%;
  height: 626px;
  z-index: -5;
  background: url("./discord__splash__middle.png");
  background-color: #3f4ce2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* position: absolute; */
}

.test3 {
  position: absolute;
}
.absolute__banner {
  width: 100%;
  position: absolute;
  top: 0;
}
.banner__contents__container {
  height: 598px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__nav {
  width: 100%;
  max-width: 1260px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner__nav__logo {
  width: 124px;
  height: 34px;
  background: url("./Komication__header__nav__logo.svg") no-repeat center;
  margin-bottom: 10px;
}

.banner__nav__links__container {
  margin-left: 30px;
}

.banner__nav__links {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
}
.banner__nav__login {
  width: 63px;
  height: 38px;
  color: #23272a;
  text-decoration: none;
  font-size: 14px;
  border: none;
  border-radius: 40px;
}
.banner__heading {
  width: 100%;
  max-width: 1260px;
  height: 518px;
  padding-left: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner__heading > h1 {
  font-size: 56px;
  font-weight: 800;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.banner__heading > div {
  width: 800px;
  height: 96px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
}
.banner__download__button {
  width: 295px;
  height: 56px;
  color: #23272a;
  text-decoration: none;
  margin-left: 25px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  border: none;
  border-radius: 28px;
}
.banner__download__link {
  text-decoration: none;
  color: #23272a;
  font-family: Arial, Helvetica, sans-serif;
}

.banner__open__button {
  width: 315px;
  height: 56px;
  color: #ffffff;
  margin-left: 20px;
  font-size: 18px;
  padding: 0 8px;
  font-family: Arial, Helvetica, sans-serif;
  background: #23272a;
  border: none;
  border-radius: 28px;
}
.banner__buttons {
  margin-top: 60px;
}

.splash__page__image__left {
  width: 689px;
  height: 352px;
  background: url("./discord__splash__left.png") no-repeat;
}

.splash__page__image__middle {
  /* width: 100%; */
  background: url("./discord__splash__middle.png");
}
.splash__page__image__right {
  width: 615px;
  height: 360px;
  background: url("./discord__splash__right.png");
}
