.no__text__channel__display {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202225;
}
.no__text__channel__container {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.channel__nav__link {
  text-decoration: none;
}
.no__text__contents__image {
  width: 272px;
  height: 222px;
  margin-bottom: 40px;
  background: url("./no__text__display.svg");
}
.no__text__contents__text > h4 {
  color: #a3a6aa;
  font-size: 17px;

  font-family: Arial, Helvetica, sans-serif;
  width: 440px;
  height: 22px;
}
.no__text__contents__text > div {
  width: 440px;
  height: 40px;
  color: #a3a6aa;
  font-size: 15px;
  margin: 8px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
}
