.server__channel__list__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 100%;
  padding-top: 15px;
  overflow-x: hidden;
  overflow-y: scroll hidden;
  /* border: solid 2px blue; */
  background-color: #2f3136;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.server__channels__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.server__channel__add__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.server__channels__container::-webkit-scrollbar {
  display: none;
}
.server__delete__container {
  display: flex;
  padding: 0px 0px 0px 0px;
  justify-content: space-between;
  border-top: 2px solid rgb(87 93 101 / 48%);
  align-items: flex-end;
  text-align: start;
  height: 32px;
  margin: 10px;
}
.server__delete__heading {
  transform: translateX(-11px);
  padding: 0px;
  font-size: 14px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #b9bbbe;
}
.server__delete__trash {
  width: 20px;
  height: 20px;
  background: url("./server__delete__trash.svg") center no-repeat;
}

.server__channel__list__container::-webkit-scrollbar {
  display: none;
}
.server__channel__list__container > div {
  padding-left: 15px;
  font-size: 12px;
  color: #96989d;
  font-family: Arial, Helvetica, sans-serif;
}
.server__channel__header {
  text-decoration: none;
  font-size: 12px;
  color: #96989d;
  font-family: Arial, Helvetica, sans-serif;
}
.server__create__channel__button {
  width: 18px;
  height: 18px;
  background: url("./new__channel__button.svg");
  border: none;
  cursor: pointer;
}

/* $dk */
.server__channel__link {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 34px;
  text-decoration: none;
  cursor: pointer;
  color: #96989d;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-top: 10px;
  border-radius: 3px;
}
.server__channel__link:hover {
  background-color: #434344;
}

.server__channel__link:hover .channel__edit__button {
  opacity: 1;
}
.server__channel__link__name {
  display: flex;
  max-width: 200px;
  text-decoration: none;
  overflow: hidden;
  align-items: center;
}

.server__channel__link__name > div {
  overflow: hidden;
}

.server__channel__link__name > span {
  margin-right: 8px;
}

.server__channel__settings__container {
  margin-left: 20px;
}

.channel__edit__button {
  width: 15px;
  height: 15px;
  background: url("./settings__kog.svg") center no-repeat;
  border: none;
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0;
}


.channel__leave__container {
  display: flex;
  justify-content: center;
  width: 192px;
  height: 32px;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

.channel__leave__button {
  font-size: 15px;
  color: #b9bbbe;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.server__channels__container > .channel__leave__container {
  display: flex;
  align-items: flex-end;
  font-size: 20;
}
