.server__channel__list__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 910px;
  padding-top: 15px;
  overflow-x: hidden;
  overflow-y: scroll hidden;
  /* border: solid 2px blue; */
  background-color: #2f3136;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.server__channels__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.server__channels__container::-webkit-scrollbar {
  display: none;
}
.server__delete__container {
  display: flex;
  padding: 0px 0px 0px 0px;
  justify-content: space-between;
  border-top: 2px solid rgb(87 93 101 / 48%);
  align-items: flex-end;
  text-align: start;
  height: 32px;
  margin: 10px;
}
.server__delete__heading {
  transform: translateX(-11px);
  padding: 0px;
  font-size: 14px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #b9bbbe;
}
.server__delete__trash {
  width: 20px;
  height: 20px;
  background: url("./server__delete__trash.svg") center no-repeat;
}

.server__channel__list__container::-webkit-scrollbar {
  display: none;
}
.server__channel__list__container > div {
  padding-left: 15px;
  font-size: 12px;
  color: #96989d;
  font-family: Arial, Helvetica, sans-serif;
}
.server__channel__header {
  text-decoration: none;
  font-size: 12px;
  color: #96989d;
  font-family: Arial, Helvetica, sans-serif;
}
.server__channel__link {
  width: 240px;
  height: 34px;
  text-decoration: none;
  cursor: pointer;
  color: #96989d;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 25px;
  padding-top: 10px;
}
