* {
  box-sizing: border-box;
}
.server__channel__nav__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: auto;
  /* margin-left: 10px */
  /* height: 1080px; */
  /* border: dashed 2px black; */
}
