.user__server__list {
  height: 100%;
  width: 75px;
  /* border: 1px solid red; */
  background-color: #202225;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.user__server__list::-webkit-scrollbar {
  display: none;
}
.user__server__list__break__div {
  display: flex;
  justify-content: center;
  margin-right: 8px;
  margin-bottom: 8px;
}
.user__server__list__break {
  width: 32px;
  height: 2px;
  background: #4f545c7a;
}

.user__home__card__link {
  width: 48px;
  height: 48px;
}
