.reliable__tech__container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 1058px;
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
}

.reliable__tech__picture {
  width: 1180px;
  height: 715px;
  background: url("./reliable__tech__image.svg") no-repeat center;
  /* background-image: url("./reliable__tech__image.png"); */
  background-size: cover;
}

.reliable__tech__heading {
  display: flex;
  flex-direction: column;
  width: 980px;
  height: 440px;
  justify-content: center;
  text-align: center;
}

.reliable__tech__heading > h2 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.reliable__tech__heading > div {
  font-size: 19px;
  color: #23272a;
  font-family: Arial, Helvetica, sans-serif;
}
