.reliable__tech__container {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: auto;
  height: 1058px;
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
}

.reliable__tech__picture {
  width: 1180px;
  height: 715px;
  background: url("./reliable__tech__image.svg") no-repeat center;
  /* background-image: url("./reliable__tech__image.png"); */
  background-size: cover;
}
