.server__search__inactive {
  position: relative;
  background-color: #202225;
  margin-right: 35px;
  color: #ffffff;
  width: 165px;
  height: 24px;
  /* margin-left: 30px; */
  outline: 0;
  border: none;
  border-radius: 3px;
}

.server__search__active {
  position: relative;
  background-color: #202225;
  margin-right: 35px;
  color: #ffffff;
  width: 288px;
  height: 24px;
  /* margin-left: 30px; */
  outline: 0;
  border: none;
  border-radius: 3px;
}
