.server__user__card__container {
  display: flex;
  align-items: center;
  width: auto;
  height: 42px;
  padding: 0 15px;
  /* border: 1px solid red; */
}
.server__user__card__avatar {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50px;
  background: url("./Komi_Circle_Icon.svg") center;
}
.server__user__avatar__container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-right: 10px;
}
.user__online__status {
  display: flex;
  align-self: flex-end;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: green;
  margin-right: 10px;
  transform: translate(7px, -13px);
  /* transform: translateY(-5px); */
  z-index: 50;
}
.user__offline__status {
  display: flex;
  align-self: flex-end;
  width: 13px;
  height: 13px;
  border-radius: 50px;
  /* border: 1px solid rgb(112, 114, 112); */
  /* background-color: rgb(112, 114, 112); */

  margin-right: 10px;
  transform: translate(8px, -13px);
  /* transform: translateY(-5px); */
  z-index: 50;
}
