.user__footer__display {
  position: static;
  display: flex;
  align-items: center;
  width: 240px;
  height: 50px;
  min-height: 51px;
  background-color: #232527;
}
.user__footer__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 8px;
}

.user__footer__information {
  display: flex;
  align-items: center;
  height: 100%;
}
.user__footer__details {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.user__footer__details > div {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.user__footer__details > span {
  font-size: 12px;
  font-weight: 100;
  color: #b9bbbe;
  font-family: Arial, Helvetica, sans-serif;
}

.user__footer__avatar {
  width: 32px;
  height: 32px;
  /* background: url("./Komi_Circle_Icon.svg"); */
  border-radius: 50px;
}
.user__footer__settings {
  background: url("./settings__kog.svg");
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.user__footer__avatar__container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-right: 10px;
}
.user__footer__online__status {
  display: flex;
  align-self: flex-end;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: green;
  margin-right: 10px;
  transform: translate(12px, -9px);
  /* transform: translateY(-5px); */
  /* z-index: 50; */
}
